

/*Campos de usuaro y contraseña (Diseño)*/
.campo {
    /*Bordes*/
    border-radius: 8px;
    border-color: rgba(8, 7, 7, 0.342);

    /*Fondo*/
    background: rgb(255, 255, 255);

    /*Texto*/
    font-size: 20px;

    /*Dimensiones*/
    height: 2em;
    width: 35%;

    /*Margenes*/
    margin-bottom: 0.5em;
}

.tas {
    /*Bordes*/
    width: 80%;
    background-color: white;
   border: 3px solid #000;
   margin-left: 10%;
   margin-right: 5%;
   color: black;
   font-weight: bold;
}

.servi {
    width: 25%;
   text-align: left;
   vertical-align: center;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
 }

 .tas2 {
    /*Bordes*/
    width: 26%;
   color: white;
   text-align: center;
   float: left;
   margin-left: 4%;
}

.prod{
    vertical-align: bottom;
    padding-left: 10%;
    padding-right: 10%;
    
}

.prodname{
    vertical-align: bottom;
    font-size: 25px;
    font-weight: bold;
    
}

.tablamayor{
    margin-bottom: 5%;
}

.prodimg{
    margin-bottom: 5%;
    padding-top: 15%;
    vertical-align: bottom;
}
 .titulostabla{
     font-size: 20px;
 }

 .imagenes{
     width: 150px;
 }

.boton1 {
    /*Margenes*/
    margin-top: 1em;

    /*Texto*/
    color: rgb(255, 255, 255);
    font-family: 'Tahoma';
    text-align: center;
    font-size: 22px;
    line-height: 26px;

    /*Elemento boton*/
    background:#A13842;
    width: 250px;
    height: 50px;

    /*Borde del elemento boton*/
    border-radius: 8px;
    border-color: transparent;

}

.section1{
    text-align: center;
}


.camponame{
    text-align: left;
    font-family: 'Tahoma';
    font-size: 22px;
    margin-bottom: 2px;
    color: white;
    text-align: center;

}

.cmb{
    color: black;
    font-family: 'Tahoma';
    font-size: 18px;
    margin-bottom: 2px;
    text-align: center;
}

.acceder{
    text-align: center;
    padding-left: 45%;
}
